button{
    background-color:rgb(254, 250, 219);
    color:  rgb(93, 92, 92);
    border-radius: 10px;
    height: 24px
}
.save_btn{
    margin: auto;
}

label{
    font-weight: bold;
}

input{
    height: 32px;
    border-radius: 10px;
    border-color: rgb(93, 92, 92);
}